*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(180, 179, 179);
   
}
.card{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(240, 240, 240);
}
.profile-pic{
    height: 160px;
    width: 160px;
    border: 4px solid rgb(255, 165, 53);
    border-radius: 50%;
}
.name{
    font-size: 30px;
    margin-top: 20px;
}
.profession{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}
p{
    font-size: 13px;
    margin-bottom:16px ;
}
.btn{
    font-size: 20px ;
    margin: 0 8px;
    padding: 8px 12px;
    border: none;
    background-color: rgb(225, 165, 53);
    color: white;
    border-radius: 9px;
}
.btn:hover{
    background-color: rgb(125, 85, 11);
}